.Card{
    margin: auto;
    margin-bottom: 3vw;
    width: 40%;
    padding-bottom: 10rem;
    background-color: var(--neutral-color);
    border-radius: 1rem;
    border: 1px solid var(--gray);
    padding: calc(40vw * .05);
    font-size:24px;
    word-wrap: wrap;
    -moz-box-shadow:    3px 3px 5px var(--drop-shadow-color);
    -webkit-box-shadow: 3px 3px 5px var(--drop-shadow-color);
    box-shadow:         3px 3px 5px var(--drop-shadow-color);
}

@media only screen and (max-width: 981px){
    .Card{
        width: 70%;
    }
}
.card-container{
    display:inline-block;
    width: 100%;
    min-height: 15vw;

}
.card-word{
    font-size: 24pt;
    color: var(--text-accent);
    margin-top: 0;
    margin-bottom: 1em;


}

.definition{
    font-size: 20pt;
}
button{
    color: var(--text-accent);
    border: none;
    background-color: transparent;
    padding: .5rem;
    font-family: sophia, sans-serif;
    font-weight: 600;
    font-size: 12pt;
    margin: .2rem;
  }

button:hover{
    cursor: pointer;
    background-color: var(--gray);
}

.flip-card{
    display: flex;
    margin-left: auto;
}

