.Deck{
    margin-top: 10vh;
}

.Deck-center{
    text-align: center;
}
.Deck-title{
    text-align: left;
}

.Deck-button{
    font-size: 2em;
    color: #1894ef;
}

.Deck-red{
    color: #cb3126;

}

.Deck-new-deck{
    font-size: 1.2em;
    color: #1894ef;
    background-color: var(--neutral-color);
    border-radius: 5%;
    margin-bottom: 2%;
}