.home-explanatation-container{
    display:flex;
    margin-top: 20%;
    background-color: var(--text-color);
}
.home-explanatation-container>div{
    margin:20% 2% 20% 2%;
}

@media only screen and (max-width: 981px){

    .home-explanatation-container{
        display: grid;
        grid-template-columns: 1fr ;
        margin-top: 20%; 
    }
    .home-explanatation-container>div{
        display: block;
        text-align: center;
        margin: 10% auto 10% auto;
    }
}