.Navigation-container{
    width: 100%;
    display: inline-block;
    transform: translateY(-4vh);
}

.Navigation-links{
    direction: rtl;
}
.Navigation-links>a{
    font-size: 1.5vw;
    color: var(--text-accent);
    text-decoration: none;
    padding: 0 .5rem 0 .5rem;
}

.Navigation-links>a:hover{
    background-color: var(--text-accent);
    color: var(--text-accent);

}
