.Navigation-container{
    width: 100%;
    display: inline-block;
    margin-top: auto;

}

.Navigation-links{
    transform: translateX(1%);
}
.Navigation-links>a{
    font-size: 16pt;
    color: var(--text-accent);
    text-decoration: none;
    padding: 0 .15rem 0 0;
    margin-left: 5% ;
}

.Navigation-links>a:hover{
    color: var(--text-color);
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    -ms-transition: color .3s ease-out;
    transition: color .3s ease-out;
}
