.Navigation-container{
    width: 100%;
    display: inline-block;
    margin-top: auto;

}

.Navigation-links{
    
}
.Navigation-links>a{
    font-size: 12;
    color: var(--text-accent);
    text-decoration: none;
    padding: 0 .5rem 0 0;
    margin-left: 5% ;
}

.Navigation-links>a:hover{
    color: var(--text-color);
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    -ms-transition: color .3s ease-out;
    transition: color .3s ease-out;
}
