:root {
  --bg-color: #c0def1;
  --text-color: #1894ef;
  --text-accent: #cb3126;
  --neutral-color: #e8f0f6;
  --drop-shadow-color: #A0CBE6;
  --inner-shadow-color: #d3e3ff;
  --button-hover-color: #C2E0F2;
  --gray: #e2e6f3;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
      background-color: var(white);
  }
  100% {
      opacity: 1;
      background-color: var(--bg-color);
   }
}



body{
  background-color: var(--bg-color);
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: 0 0 0 0;
  overflow-x: hidden;
}
p{
  font-size: 2rem;
  color: var(--text-color);
}
header{
  color:var(--text-color);
  margin: 0 0 0 5%;
}
.title{
  display: flex;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 46pt;
  font-weight: 500;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  -ms-transition: color 1s ease-out;
  transition: color 1s ease-out;
  text-decoration: none;
}
.title:hover{
  cursor:pointer;
  transition: .5s ease;
  color: var(--neutral-color);
}

.title:visited{
  text-decoration: none;
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
