.CardBack-image{
    width: 100%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;

}

.CardBack-button-container{
    position: absolute;
    bottom:1vw;

}