.CardCanvas{
    border: 2px dashed var(--bg-color);
    height: 15vw;
    width: 100%;
}
input[type='color']{
    border:none;
    opacity: 0;
    direction:rtl;
}

.color-picker-wrapper{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: black;

}
