.CardBack-drawing{
    width: 50%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto 

}

.CardBack-button-container{
    position: absolute;
    bottom:1vw;

}