.CardCanvas{
    border: 2px dashed var(--bg-color);
    width: 100%;
    display: block;

}
input[type='color']{
    border:none;
    opacity: 0;
    direction:rtl;
}

.color-picker-wrapper{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: black;
    margin-bottom: 10px;

}
