.CardBack-image{
    width: 100%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;

}

.save{
    display: flex;
    margin-left: auto;

}
.CardBack-button-container{
    display: flex;
}
.update{
    margin-left: auto;
}

